.grid{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    text-align: center;
}
h3, span{
    font-family: Lucida, serif;
}
/*top*/
.top{
	background-color: #0081A7;
	height: 250px;
	font-family: Monaco, monaspace;
	margin-bottom: 50px;
	color: #FED9B7;
}
h1{
	padding-top: 95px;
    padding-left: 95px;
    margin-left: 200px;
  }
  .container{
      background-color: #FDFCDC;
      color: #F07167;
  }

  a:visited{
      color: white;
  }

  a:hover{
    color:pink;
  }
      
  
