/*default*/
.top{
	background-color: #0081A7;
	height: 250px;
	font-family: Monaco, monaspace;
	margin-bottom: 0px;
	color: #FED9B7;
}
/* h1{
	  padding-top: 95px;
    padding-left: 95px;
    margin-left: 200px;
  } */
  h1{
    padding-top: 12%;
  }
  .container{
      background-color: #FDFCDC;
      color: #F07167;
  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  canvas {
    display: block;
    padding-top: 10px;
   
  }

.link{
    color: white;
}

.link:hover{
  color:pink;
}
    
.final{
  font-family: Monaco, monaspace;
  
  height: 500px;
  font-size: 50px;
}
.final p{
  text-align: center;
  padding-top: 100px;
}

.start{
  font-family: Monaco, monaspace;
  height: 500px;
  font-size: 50px;
}

.start p{
  text-align: center;
  padding-top: 100px;
}

